<div *ngIf="visible">
  <div
    *ngIf="warning && exportType === 'json'"
    class="alert alert-warning"
    role="alert"
  >
    {{ warning }}
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="jsonRadio"
      id="jsonRadio"
      [checked]="exportType === 'json'"
      value="json"
      (change)="onExportTypeChange('json')"
    />
    <label class="form-check-label" for="jsonRadio"> JSON </label>
  </div>
  <div class="form-check mb-2">
    <input
      class="form-check-input"
      type="radio"
      name="csvRadio"
      id="csvRadio"
      [checked]="exportType === 'csv'"
      value="csv"
      (change)="onExportTypeChange('csv')"
    />
    <label class="form-check-label" for="csvRadio"> CSV </label>
  </div>
  <textarea
    type="text"
    name="textarea"
    class="form-control mb-3"
    placeholder="Import or edit data to export"
    id="floatingTextarea"
    style="height: 70vh"
    [(ngModel)]="textarea"
  ></textarea>
  <div class="dropdown d-flex justify-content-end">
    <button
      id="save-button"
      type="button"
      class="btn btn-primary"
      (click)="saveFile()"
    >
      Download
    </button>
  </div>
</div>
